In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
colonne = ["Data", "Ora", "Id_rete_monit", "Codice_istat_comune", "Progr_punto_com", 
           "Velv", "Dirv", "Devst", "Baro", "Terma", "Igro", "Radd", "Radr", "Pluv"]

data = pd.read_csv("Month.csv", names=colonne, header=None)
data

,Data,Ora,Id_rete_monit,Codice_istat_comune,Progr_punto_com,Velv,Dirv,Devst,Baro,Terma,Igro,Radd,Radr,Pluv
0,01-01-2010,00:00,17,4028,900,0.4,175.7,9999.9,925.7,1.3,84.0,9999.9,9999.9,0.0
1,01-01-2010,01:00,17,4028,900,0.0,9999.9,9999.9,925.1,1.3,84.0,9999.9,9999.9,0.0
2,01-01-2010,02:00,17,4028,900,0.6,197.0,9999.9,924.6,1.4,84.0,9999.9,9999.9,0.0
3,01-01-2010,03:00,17,4028,900,0.9,187.1,9999.9,923.8,1.7,84.0,9999.9,9999.9,0.0
4,01-01-2010,04:00,17,4028,900,1.1,190.7,9999.9,923.4,2.2,82.0,9999.9,9999.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31-12-2010,19:00,17,4028,900,1.0,177.2,9999.9,952.6,-3.5,99.0,9999.9,9999.9,0.0
8756,31-12-2010,20:00,17,4028,900,1.3,190.5,9999.9,952.3,-3.7,100.0,9999.9,9999.9,0.0
8757,31-12-2010,21:00,17,4028,900,1.3,182.1,9999.9,952.8,-3.9,100.0,9999.9,9999.9,0.0
8758,31-12-2010,22:00,17,4028,900,1.3,186.4,9999.9,953.0,-4.5,100.0,9999.9,9999.9,0.0
8759,31-12-2010,23:00,17,4028,900,1.8,182.5,9999.9,952.9,-4.5,100.0,9999.9,9999.9,0.0

In [21]:
X = data[["Velv"]].values
y = data["Terma"].values
model = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model.fit(X_train, y_train)
model.score(X_test, y_test)

-0.0005769846172161142